*{
    margin: 0;
    padding: 0;
}


/* RALEWAY FONT */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* INTER FONT */

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* NAVBAR SECTION */

.nav-container{
    height: 698px;
   
    width: 100%;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("Assets/Hero-bg.png");
}
.logo-container{
    height: 151px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo-name{
    font-weight:bolder;
    font-size: 34px;
    color: #4E47FF;
}
.primary-btn{
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
.primary-btn:hover{
    padding: 12px 36px;
    color: rgb(0, 0, 0);
    background-color: #e0e40e;
    border-radius: 10px;
    border: none;
    transform: scale(1.1);
    
}

/* BANNER-SECTION */
.stay{
    margin-top: 37px;
    
}

.banner-section{
    height: 237px;
    width: 905px;
    margin-top: 158px;
    text-align: center;
}
.banner-heading1{
    font-weight: bold;
    font-size: 65px;
}

/* ACTION SECTION */
main{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #f5f8ff;
    flex-direction: column;
   
}
.action-section{
    height: 328px;
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     margin-top: 116px;
}
.action-container{
    display: flex;
    flex-direction: column;
    gap: 23px;

}
.action-title{
    font-weight: bold;
    font-size: 42px;
    
}
.action-sub-title{
    font-weight:700 ;
    font-size: 24px;
    line-height: 30px;
}
.livebtn{
    height: 48px;
    width: 229px;
}
.action-image{
    border-radius: 48px;
}
/* USER SECTION */
.user-section{
    padding: 50px 142px;
margin-top: 116px
}
.user-container{
    text-align: center;
    padding: 50px 142px;
    background-color:rgb(78,71,255,10%) ;
    border-radius: 24px;
}
.user-title{
    font-weight: bold;
    font-size: 38px;
}
.sub-title-container{
    display: flex;
    justify-content: center;
 margin-top: 40px;
    gap: 161px;
}
.user-count{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.mini-sub{
    font-weight:700 ;
    font-size: 20px;
    color: rgb(0,0,0,50%);
}

/* FEEDBACK SECTION */
.feeback-container{
    height: 342px;
    width: 1140px;
    display: flex;
    align-items: center;
    flex-direction: column;
   margin-top: 50px;
    
}
.feedback-title{
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}
.reviewr-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.reviews-user-container{
    height: 230px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 0px 24px;
    background-color:#ffffff;
    border-radius: 14px;
}
.reviewe-photo{
    border-radius: 50%;
}
.name{
    color: rgb(117,117,117,100%);
}
.date{
     color: rgb(179,179,179,100%);
}
.reviews-name-date{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}